@import '~src/sass/variables';

ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 20px;
}

grove-campaign-card {
  height: 100%;
}

prx-paging {
  display: block;
  text-align: center;
}

.paging {
  ::ng-deep {
    .paging {
      color: $primary;

      &[disabled] {
        color: prx-theme-foreground(disabled);
      }

      &.active {
        color: prx-theme-foreground(text);
      }
    }
  }
}

.count-of-total {
  text-align: center;
  color: prx-theme-foreground(text);
  font-style: italic;
}

@media (min-width: 768px) {
  ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  ul {
    grid-template-columns: repeat(4, 1fr);
  }
}
