@import '~src/sass/colors';
@import '~@angular/material/theming';

:host {
  display: block;
  background-color: mat-color($prx-gray, 100);
}
.header {
  height: 3px;
  background-color: mat-color($prx-gray, 500);
}
section {
  padding: 10px;
  min-height: 92px;
}
section.loading {
  position: relative;
  background-color: mat-color($prx-gray, 300);
}
h3 {
  font-weight: 700;
  line-height: 1.25em;
  margin-bottom: 0.5em;
}
.status {
  padding: 2px 4px;
}
.draft {
  color: mat-color($prx-blue-palette, lighter-contrast);
  background-color: mat-color($prx-blue-palette, lighter);
}
.approved {
  color: mat-color($prx-green-palette, default-contrast);
  background-color: mat-color($prx-green-palette, default);
}
.paused {
  color: mat-color($prx-yellow-palette, default-contrast);
  background-color: mat-color($prx-yellow-palette, default);
}
.canceled {
  color: mat-color($prx-red-palette, default-contrast);
  background-color: mat-color($prx-red-palette, default);
}
.hold {
  color: mat-color($prx-orange-palette, default-contrast);
  background-color: mat-color($prx-orange-palette, default);
}
.sold {
  color: mat-color($prx-aqua-palette, default-contrast);
  background-color: mat-color($prx-aqua-palette, default);
}
