:host {
  display: block;
  background-color: white;
}
.header {
  height: 3px;
  background-color: #a3a3a3;
}
section {
  padding: 10px;
  min-height: 92px;
}
section.loading {
  position: relative;
  background-color: #ddd;
}
h3 {
  font-weight: 700;
  line-height: 1.25em;
  margin-bottom: 0.5em;
}
.status {
  padding: 2px 4px;
  color: #000;
}
.draft {
  background-color: #b3d9ef;
}
.approved {
  background-color: #23c763;
}
.paused {
  background-color: #ffc400;
}
.canceled {
  background-color: #e04524;
}
.hold {
  background-color: #ff9600;
}
.sold {
  background-color: #17c9d3;
}
