@import '~src/sass/variables';

$row-line-height: 20px;
$row-divider-height: 1px;
$row-divider-border: $row-divider-height solid prx-theme-foreground(divider);
$row-height: $row-line-height + $row-divider-height;

:host {
  margin: 20px 10px 20px 20px;
}
section {
  margin: 20px 0;
}
.title {
  color: prx-theme-foreground(text);
  font-size: 1rem;
  margin-bottom: 1rem;
}
.row {
  transition: background-color 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
  display: grid;
  grid-template-columns: 2rem repeat(4, 1fr) 2rem;
  grid-column-gap: 0.35rem;
  justify-content: space-around;
  justify-items: stretch;
  align-items: center;

  white-space: nowrap;

  text-align: right;
  line-height: $row-line-height;

  & + & {
    border-top: $row-divider-border;
  }

  & + &.current-date,
  &.current-date {
    border-top: 1px solid mat-color($prx-primary, lighter);
  }

  &.past-date * {
    color: mat-color($prx-neutral, default);
    font-weight: 700;
  }

  &.head {
    background-color: prx-theme-background(table-header);

    line-height: 28px;

    & > * {
      font-weight: bold;
    }
  }

  &.week {
    line-height: 28px;
  }

  &.totals {
    & > * {
      font-weight: 700;
      font-style: italic;
    }
  }

  &.expanded {
    background-color: prx-theme-background(table-row-stripe);
  }
}

.expand {
  justify-self: center;
  align-self: center;

  .icon {
    transition: opacity 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
    opacity: 0.12;

    ::ng-deep {
      .wrapper {
        width: 100%;
        height: 100%;
      }
    }
  }

  .expanded &,
  .row:hover & {
    .icon {
      opacity: 1;
    }
  }
}

.edit {
  justify-self: center;
  align-self: center;
}

.date {
  justify-self: start;
}

.days-wrapper {
  --num-days: 0;
  grid-column: 1 / -1;
  grid-row: 2;
  justify-self: stretch;
}

.days {
  transition: height calc(var(--num-days) * 0.1s) cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  height: 0;
  overflow: hidden;

  background-color: prx-theme-background(table-row-stripe);
  border-top: $row-divider-border;

  .expand {
    justify-self: stretch;
    align-self: stretch;
    background-color: prx-theme-foreground(divider);
  }

  .expanded & {
    height: auto; // Fallback for IE 11. Won't be animated.
    height: calc(var(--num-days) * #{$row-height});
    min-height: 0;
  }
}

.row-highlight,
.errors {
  color: $warn;
}

.errors {
  display: grid;
  grid-row-gap: 0.5rem;
  margin: 0 2rem 1rem 0;
  font-style: italic;
}

.error {
  display: flex;
  align-items: center;
}

.preview {
  &::after {
    content: '*';
  }
}
