:host {
  display: block;
  padding: 40px;
}

grove-campaign-filter {
  display: block;
  padding: 0;
  margin-bottom: 20px;
}

h2 {
  font-weight: 700;
  font-size: 1.5em;
  line-height: 2em;
  color: #676767;
}

ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 20px;
}

@media (min-width: 768px) {
  ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  ul {
    grid-template-columns: repeat(4, 1fr);
  }
}

prx-paging {
  display: block;
  text-align: center;
}

.count-of-total {
  text-align: center;
  color: #676767;
  font-style: italic;
}
