/* have to override the global button styles */
:host {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-column-gap: 10px;
}

/*
 * override the global button styles
 * https://github.com/PRX/styleguide.prx.org/issues/212
*/
::ng-deep button {
  &.mat-icon-button {
    flex: initial;
    &:hover,
    &[disabled] {
      background-color: initial;
    }
  }
}
