/* have to override the global button styles */
:host {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-column-gap: 10px;
}

::ng-deep button {
  flex: initial;
}
::ng-deep button:hover, ::ng-deep button[disabled] {
  background-color: initial;
}
