@import '~src/sass/variables';

mat-drawer-content {
  min-height: 150px;
}

mat-drawer {
  min-width: 250px;
  max-width: 400px;
  background: #f0f0f0;
  border-right: none;
}

.mat-list-base {
  padding-top: 0;

  .mat-list-item {
    transition: border-left 100ms ease-out 0ms;
    background: #ddd;
    color: $primary;
    font-weight: 700;
    margin: 0 0 2px;
    border-left: 0 solid $primary;

    &:hover,
    &.active-link,
    &.changed {
      border-left-width: 4px;
    }

    &.active-link {
      background: #fff;
      color: $primary;
    }

    &.changed {
      &.valid {
        border-left-color: $success;
      }

      &.invalid,
      &.error {
        border-left-color: $warn;
      }
    }

    &.deleted-flight {
      text-decoration: line-through;
      color: $warn;
      border-left-color: $warn;
    }
  }
}

.add-flight {
  transition: background-color 100ms linear 0ms;
  display: grid;
  grid-template-columns: min-content auto;
  grid-column-gap: 0.25rem;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px dashed mat-color($prx-gray, 300);
  text-align: center;

  &:hover {
    background-color: mat-color($prx-gray, 100);
  }
}
