mat-drawer-content {
  min-height: 150px;
}

mat-drawer {
  min-width: 250px;
  background: #f0f0f0;
  border-right: none;
}

.mat-list-base {
  padding-top: 0;
}

.mat-list-base .mat-list-item {
  background: #ddd;
  color: #0089bd;
  font-weight: 700;
  margin: 0 0 2px;
}

.mat-list-base .mat-list-item.active-link {
  background: #fff;
  color: #0089bd;
  font-style: italic;
}

.add-flight {
  text-align: center;
  padding: 12px 0;
}

.mat-list-base .mat-list-item.deleted-flight {
  text-decoration: line-through;
  color: #f00;
}
