@import '~src/sass/variables';

mat-drawer-content {
  min-height: 400px;
}

mat-drawer {
  min-width: 250px;
  max-width: 400px;
  background: prx-theme-background(app-bar);
  border-right: none;
}

.error {
  color: mat-color($prx-warn);
}
.error,
.loading {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 5em 0;
}
