@import '~src/sass/variables';
@import '~src/sass/status';

:host {
  display: block;
  background-color: prx-theme-background(card);
  color: prx-theme-foreground(text);
}
.header {
  height: 3px;
}
section {
  padding: 10px;
  min-height: 92px;
}
section.loading {
  position: relative;
  background-color: prx-theme-background(status-bar);
}
h3 {
  font-weight: 700;
  line-height: 1.25em;
  margin-bottom: 0.5em;
}
