@import '~@angular/material/theming';
@import '~src/sass/colors';
@import '~src/sass/status';

:host {
  display: block;
  background-color: mat-color($prx-gray, 100);
}
.header {
  height: 3px;
  background-color: mat-color($prx-gray, 500);
}
section {
  padding: 10px;
  min-height: 92px;
}
section.loading {
  position: relative;
  background-color: mat-color($prx-gray, 300);
}
h3 {
  font-weight: 700;
  line-height: 1.25em;
  margin-bottom: 0.5em;
}
