@import '~src/sass/variables';
@import '~src/sass/status';

$row-height: 3rem;
$cell-padding-h: 0.5rem;
$cell-padding-v: 0;
$cell-padding: $cell-padding-v $cell-padding-h;

.table-container {
  height: 100%;
  width: 100%;
  overflow: auto;
  margin: 0 auto;
}

.mat-table {
  width: 100%;
  font-size: 0.75rem;
}

.mat-table a {
  font-weight: 700;
}

.mat-table-sticky:first-child {
  width: 124px;
  border-right: 1px solid prx-theme-foreground(divider);
}

.mat-footer-cell,
.mat-header-cell {
  background: prx-theme-background(table-header);
  border: white;
  padding: $cell-padding;
  line-height: $row-height;
  white-space: nowrap;
}

.mat-cell:first-of-type,
.mat-header-cell:first-of-type {
  padding-left: $cell-padding-h;
}

.mat-row {
  height: auto;
}

.mat-row:nth-child(even) {
  background-color: prx-theme-background(table-row);
}

.mat-row:nth-child(odd) {
  background-color: prx-theme-background(table-row-stripe);
}

.mat-cell {
  padding: $cell-padding;
  font-size: inherit;
  line-height: $row-height;
  vertical-align: center;
  white-space: nowrap;

  &.error {
    border-left: 4px solid $warn;

    &, & ~ .mat-cell {
      background-color: mat-color($prx-warn, 100);
    }
  }
}

.mat-footer-cell {
  @extend .mat-cell;

  font-weight: bold;
}

.mat-sort-header-container,
.mat-sort-header-button {
  flex-direction: column;
}

.flight_status {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &.error {
    background-color: $warn;
    color: $warn-contrast;
  }
}

.paginator {
  position: sticky;
  left: 0;
}

@mixin matColumn ($column-name) {
  .mat-header-#{$column-name},
  .mat-column-#{$column-name},
  .mat-footer-#{$column-name} {
    @content;
  }
}

@include matColumn('actualCount') {
  text-align: right;
}

@include matColumn('total_goal') {
  text-align: right;
}

@include matColumn('status') {
  text-align: center;
}

@include matColumn('campaign_status') {
  text-align: center;
}