<prx-auth [host]="authHost" [client]="authClient"></prx-auth>
<prx-header prxSticky="all">
  <prx-navitem *ngIf="userService.loggedIn" route="/" text="Home"></prx-navitem>
  <prx-navuser *ngIf="userService.loggedIn" [userinfo]="userService.userinfo">
    <prx-spinner class="user-loading"></prx-spinner>
    <prx-image *ngIf="userService.userDoc" class="user-loaded" [imageDoc]="userService.userDoc"></prx-image>
  </prx-navuser>
</prx-header>
<main>
  <article>
    <router-outlet></router-outlet>
  </article>
</main>
<prx-footer></prx-footer>
<prx-modal></prx-modal>
<prx-toastr></prx-toastr>
