<prx-auth [host]="authHost" [client]="authClient"></prx-auth>
<prx-header prxSticky="all">
  <prx-navitem *ngIf="loggedIn" route="/" text="Home"></prx-navitem>
  <prx-navuser *ngIf="loggedIn" [userinfo]="userinfo">
    <prx-spinner class="user-loading"></prx-spinner>
    <ng-container *ngIf="userImageDoc$ | async as userImageDoc">
      <prx-image class="user-loaded" [imageDoc]="userImageDoc"></prx-image>
    </ng-container>
  </prx-navuser>
</prx-header>
<main>
  <article>
    <router-outlet></router-outlet>
  </article>
</main>
<prx-footer></prx-footer>
