mat-card {
  display: flex;
  flex-direction: column;
  border-radius: 0;
}

mat-card form {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, 600px));
  grid-column-gap: 0.5rem;
}

.campaign-form-field {
  font-size: 1rem;
}

.mat-form-field-wrapper {
  padding-bottom: 1.1em;
}
