@import '~src/sass/variables';

.mat-list-base {
  padding-top: 0;

  .mat-list-item {
    position: relative;
    background: prx-theme-background(tab);
    color: prx-theme-foreground(tab);
    font-weight: 700;
    margin: 0 0 2px;

    ::ng-deep .mat-list-item-content {
      width: 100%;
      padding-right: 0;
    }

    .menuBtn {
      visibility: hidden;
    }

    &::before {
      transition: left 100ms ease-out 0ms;
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: -4px;
      bottom: 0;
      width: 4px;
    }

    &:hover,
    &.active-link,
    &.changed {
      &::before {
        left: 0;
        background-color: $primary;
      }
    }

    &.active-link {
      background: prx-theme-background(selected-tab);
      color: prx-theme-foreground(selected-tab);

      .menuBtn {
        visibility: visible;
      }
    }

    &.changed {
      &.valid {
        &::before {
          background-color: $success;
        }
      }

      &.invalid,
      &.error {
        &::before {
          background-color: $warn;
        }
      }
    }

    &.deleted-flight {
      text-decoration: line-through;
      color: $warn;
      &::before {
        background-color: $warn;
      }
    }
  }
}

.secondary-link {
  transition: background-color 100ms linear 0ms;
  display: grid;
  grid-template-columns: min-content auto;
  grid-column-gap: 0.25rem;
  justify-content: start;
  align-items: center;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px dashed prx-theme-foreground(divider);

  &:hover {
    background-color: prx-theme-background(selected-tab);
  }
  &.disabled {
    color: prx-theme-foreground(disabled);
  }
}
