@import '~src/sass/variables';

:host {
  border: 1px solid prx-theme-foreground(divider);
  border-radius: 5px;
  padding: 10px;
  background: white;

  ::ng-deep {
    .mat-form-field-infix {
      width: initial;
    }
  }
}

h3 {
  display: flex;
  justify-content: space-between;
}

.creative.disabled {
  color: prx-theme-foreground(disabled-button);
  text-decoration: line-through;
}

.creative {
  display: block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  margin: 5px 0;
}

mat-form-field {
  margin-top: 5px;
}
