@import '~src/sass/variables';

:host {
  border: 1px solid prx-theme-foreground(divider);
  border-radius: 5px;
  padding: 10px;
  background: white;
  display: flex;
  flex-direction: column;

  ::ng-deep {
    .mat-form-field-infix {
      width: initial;
    }
  }
}

h3 {
  display: flex;
  justify-content: space-between;
}

.creative.disabled {
  color: prx-theme-foreground(disabled-button);
  text-decoration: line-through;
}

.creative {
  display: block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  margin: 5px 0;
}

.form {
  flex: 1;
}

.weight {
  text-align: right;
  input {
    direction: rtl;
  }
  .suffix {
    top: -0.25em;
    padding-left: 0.25em;
    position: relative;
  }
}

mat-form-field {
  margin-top: 5px;
}

.remove {
  text-align: center;
  margin: 0 -10px -10px;
  button {
    display: block;
    width: 100%;
    border-radius: 0;
    color: mat-color($prx-gray, 300);
    border-top: 1px solid mat-color($prx-gray, 300);
    &:hover,
    &:focus {
      color: $warn;
      border-color: $warn;
    }
  }
}
