mat-card {
  min-height: 400px;
  border-radius: 0;
}
mat-card form {
  display: flex;
  flex-direction: column;
  flex-flow: column;
}
mat-card form > * {
  width: 100%;
}

.mat-select-value,
.mat-input-element {
  font-size: 1rem;
  color: #555;
}

.mat-form-field-wrapper {
  padding-bottom: 1.1em;
}

.flight-dates {
  display: flex;
}
.flight-dates > mat-form-field {
  flex: 1;
  &:first-child {
    margin-right: 20px;
  }
}

.flight-controls-container {
  display: flex;
  justify-content: flex-end;
  .mat-fab {
    flex: none;
    margin-left: 1em;
  }
}
