mat-card {
  min-height: 400px;
  border-radius: 0;
}

mat-card form > * {
  max-width: 600px;
  width: 100%;
}

.mat-select-value-text,
.mat-input-element {
  font-size: 1rem;
  color: #555;
}

.mat-form-field-wrapper {
  padding-bottom: 1.1em;
}
