@import '~src/sass/variables';
@import '~src/sass/colors';

.zone {
  margin: 0.5em 0 1em;
  background-color: prx-theme-background(background);
}

.mat-card-title {
  margin: 8px 0 8px -16px;
}

.add-creative {
  flex: 1;
}

.remove-zone {
  button {
    color: mat-color($prx-gray, 300);
    &:hover,
    &:focus {
      background-color: transparent;
      color: mat-color($prx-warn);
    }
  }
}

.zone-id {
  display: none;
}

.flight-zone-creatives {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 20px;
}
