<mat-card>
  <form [formGroup]="flightForm" ngNativeValidate>
    <mat-form-field appearance="outline">
      <mat-label>Flight Name</mat-label>
      <input matInput placeholder="Flight Name" formControlName="name" required />
    </mat-form-field>
    <div class="flight-dates">
      <prx-datepicker [date]="startAt" [maxDate]="endAt" UTC="true" (dateChange)="onDateRangeChange({ startAt: $event })"></prx-datepicker>
      <prx-datepicker [date]="endAt" [minDate]="startAt" UTC="true" (dateChange)="onDateRangeChange({ endAt: $event })"></prx-datepicker>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Series</mat-label>
      <mat-select formControlName="set_inventory_uri" required>
        <mat-option *ngFor="let inv of inventory" [value]="inv.self_uri">{{ inv.podcastTitle }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Zones</mat-label>
      <mat-select formControlName="zones" multiple required>
        <mat-option *ngFor="let zone of zoneOptions" [value]="zone.id">{{ zone.label }}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <div class="flight-controls-container">
    <button
      (click)="onFlightDeleteToggle()"
      mat-fab
      [color]="softDeleted ? 'primary' : 'warn'"
      [attr.aria-label]="softDeleted ? 'Restore flight' : 'Delete flight'"
    >
      <mat-icon>{{ softDeleted ? 'restore_from_trash' : 'delete' }}</mat-icon>
    </button>
    <button (click)="onFlightDuplicate()" mat-fab color="primary" aria-label="Copy flight">
      <mat-icon>file_copy</mat-icon>
    </button>
  </div>
</mat-card>
