@import '~src/sass/variables';
@import '~src/sass/colors';

h2 {
  margin-bottom: 0.5em;
  font-size: 22px;
  font-weight: 400;
}

mat-card {
  min-height: 400px;
  border-radius: 0;
}
.flight-form-container {
  display: flex;
  flex-direction: column;
  flex-flow: column;
}
.flight-form-container > * {
  width: 100%;
}

.flight-form-field {
  font-size: 1rem;
}

.mat-form-field-wrapper {
  padding-bottom: 1.1em;
}

.inline-fields {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 0.5rem;
}

/*
 * override the global button styles
 * https://github.com/PRX/styleguide.prx.org/issues/212
*/
::ng-deep button {
  &.mat-icon-button {
    flex: initial;
    &:hover,
    &[disabled] {
      background-color: initial;
    }
  }
}

.flight-controls-container {
  display: flex;
  justify-content: flex-end;
  .mat-fab {
    flex: none;
    margin-left: 1em;
  }
}

.flight-zones-header {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-gap: 1rem;
}
