@import '~src/sass/variables';
@import '~src/sass/colors';

.inline-fields {
  display: grid;
  grid-template-columns: 1fr 40px;
  grid-column-gap: 0.5rem;
  align-items: center;
}
.remove-zone {
  button {
    color: mat-color($prx-gray, 300);
    &:hover {
      background-color: transparent;
      color: mat-color($prx-gray, 600);
    }
  }
}

.zone + .zone {
  border-top: 1px dashed prx-theme-foreground(divider);
  padding-top: 20px;
}

.flight-zone-creatives {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 20px;
}

.add-creative {
  margin: 5px 0;
}
