<mat-card>
  <form [formGroup]="flightForm" ngNativeValidate>
    <mat-form-field class="flight-form-field" appearance="outline">
      <mat-label>Flight Name</mat-label>
      <input matInput placeholder="Flight Name" formControlName="name" required />
    </mat-form-field>
    <div class="inline-fields">
      <prx-datepicker
        class="flight-form-field"
        [date]="flight?.startAt"
        [maxDate]="flight?.endAt"
        UTC="true"
        (dateChange)="onDateRangeChange({ startAt: $event })"
      ></prx-datepicker>
      <prx-datepicker
        class="flight-form-field"
        [date]="flight?.endAt"
        [minDate]="flight?.startAt"
        UTC="true"
        (dateChange)="onDateRangeChange({ endAt: $event })"
      ></prx-datepicker>
    </div>
    <mat-form-field class="flight-form-field" appearance="outline">
      <mat-label>Series</mat-label>
      <mat-select formControlName="set_inventory_uri" required>
        <mat-option *ngFor="let inv of inventory" [value]="inv.self_uri">{{ inv.podcastTitle }}</mat-option>
      </mat-select>
    </mat-form-field>
    <fieldset class="flight-zones" formArrayName="zones">
      <h2>Zones</h2>
      <div *ngFor="let zone of zones.controls; let i=index" [formGroup]="zone" class="inline-fields">
        <mat-form-field class="zone-name" appearance="outline">
          <mat-label>Zone Name</mat-label>
          <mat-select formControlName="id" required>
            <mat-option *ngFor="let opt of zoneOptionsFiltered(i)" [value]="opt.id">{{ opt.label }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Creative Url</mat-label>
          <input matInput formControlName="url" autocomplete="off" />
        </mat-form-field>
        <div *ngIf="zones.length > 1" class="remove-zone mat-form-field-wrapper">
          <button mat-icon-button aria-label="Remove zone" (click)="onRemoveZone(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <div class="add-zone" *ngIf="zones.length < zoneOptions.length">
        <a mat-button routerLink="." (click)="onAddZone()"><mat-icon>add</mat-icon> Add a creative</a>
      </div>
    </fieldset>
  </form>
  <div class="flight-controls-container">
    <button
      (click)="onFlightDeleteToggle()"
      mat-fab
      [color]="softDeleted ? 'primary' : 'warn'"
      [attr.aria-label]="softDeleted ? 'Restore flight' : 'Delete flight'"
    >
      <mat-icon>{{ softDeleted ? 'restore_from_trash' : 'delete' }}</mat-icon>
    </button>
    <button (click)="onFlightDuplicate()" mat-fab color="primary" aria-label="Copy flight">
      <mat-icon>file_copy</mat-icon>
    </button>
  </div>
</mat-card>
