@import '~src/sass/variables';

$gap-size: 0.75rem;

.goal-form {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(180px - #{$gap-size}), 1fr));
  grid-gap: $gap-size;

  margin-bottom: 1rem;

  ::ng-deep .mat-form-field-wrapper {
    padding: 0;
  }
}

.title {
  color: prx-theme-foreground(text);
  font-size: 1rem;
  line-height: 2rem;
}

.warn {
  color: $warn;
  font-weight: 700;
}

mat-slide-toggle {
  justify-self: right;
  margin-right: 10px;
}
