@import '~src/sass/variables';

:host {
  margin: 20px 10px 20px 20px;
}
section {
  margin: 20px 0;
}
.title {
  color: prx-theme-foreground(text);
  font-size: 1rem;
  margin-bottom: 1rem;
}

.errors {
  color: $warn;
  display: grid;
  grid-row-gap: 0.5rem;
  margin: 0 2rem 1rem 0;
  font-style: italic;
}

.error {
  display: flex;
  align-items: center;
}

.loading {
  height: 80px;
  display: grid;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.1);
  ::ng-deep .mat-spinner circle {
    stroke: mat-color($prx-gray, 100);
  }
}

.empty {
  height: 80px;
  display: grid;
  align-items: center;
  justify-content: center;
  color: mat-color($prx-gray, 400);
}

.row {
  display: grid;
  grid-template-columns: 1fr 80px;
  grid-column-gap: 0.35rem;
  line-height: 29px;
  white-space: nowrap;
  text-align: center;
  max-width: 100%;

  & + & {
    border-top: 1px solid prx-theme-foreground(divider);
  }
  &.head {
    background-color: prx-theme-background(table-header);
    line-height: 30px;
    > * {
      font-weight: bold;
    }
  }
  .name {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 14px;
  }
}
